/* 
   Styles for the scroll depth indicator element
*/

/* Base styles for the indicator */
.scroll-depth-indicator-wrapper {
  /* Position the indicator */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Set the width to full width of wrapper element */
  height: 7px; /* Set the height of the indicator rail */
  background-color: #CCC; /* Set the default background color of the indicator rail to Gray */
  z-index: 10;
}

.scroll-depth-indicator-wrapper .scroll-progress {
  width: 0;
  height: 7px; /* Set the height of the indicator */
  background-color: #12C115; /* Set the default progress bar color to green */
  z-index: 11;
}
